<nav>
  <div class="nav-wrapper">
    <a href="/" class="breadcrumb"><i class="material-icons left">home</i>Traffic Spy</a>
    <a href="/sources/<%= user.identifier %>" class="breadcrumb"><%= user.identifier.capitalize %></a>
    <a href="/sources/<%= user.identifier %>/urls/<%= local_url %>" class="breadcrumb">Url:  <%= local_url %></a>
  </div>
</nav>
