<nav>
  <div class="nav-wrapper blue">
    <a href="/" class="breadcrumb"><i class="material-icons left">home</i>Traffic Spy</a>
    <a href="/sources/<%= user.identifier %>" class="breadcrumb"><%= user.identifier %></a>
    <a href="/sources/<%= user.identifier %>/events" class="breadcrumb">Events</a>
    <a href="/sources/<%= user.identifier %>/urls/<%= event %>" class="breadcrumb"><%= event %></a>
    <ul class="right hide-on-med-and-down">
      <li>
      </li>
    </ul>
  </div>
</nav>
