<nav>
  <div class="nav-wrapper-index">
    <a href="/" class="breadcrumb"><i class="material-icons left">home</i>Traffic Spy</a>
    <a href="/sources/<%= user.identifier %>" class="breadcrumb"><%= user.identifier %></a>
    <a href="/sources/<%= user.identifier %>" class="breadcrumb">Urls</a>
    <a href="/sources/<%= user.identifier %>/urls/<%= local_url %>" class="breadcrumb"><%= local_url %></a>
    <ul class="right hide-on-med-and-down">
      <li>
      </li>
    </ul>
  </div>
</nav>
