<%=  erb :navbar_index, locals: { user: @user }%>

<h1 id="app_details_header">Got to <%= @user.identifier.capitalize %>'s page!</h1>

<br>Most to Least Requested URLS: <%= @user.urls.requested_urls %>

<br>Web Browser Breakdown: <%= @user.urls.browser_breakdown %>

<br>OS Breakdown: <%= @user.urls.os_breakdown %>

<br>Screen Resolution: <%= @user.urls.resolution %>

<br>Longest to Shortest Average Response Time per URL: <%= @user.urls.url_response_times %>

<br><br><h4>View Detailed Data for each of <%= @user.identifier %>'s URLS:</h4><br><br>

<% @user.urls.uniq.each do |url| %>
  <a href="/sources/<%= @user.identifier %>/urls/<%= url.url %>"><%= url.url %><br></a>
<% end %>

<br><br><a href="/sources/<%= @user.identifier %>/events"><h4>View Event Data for <%= @user.identifier %>:</h4></a>
<br><br>
