<h1 id="event_index_header"><%= @id.capitalize %>'s Event Index Page</h1>

<div class= "container">
  <div class="row">
    <div class="col s2">
      <p>

      </p>
    </div>
    <div class="col s8">
      <div class="card large">
        <div class="card-image">
          <img class="activator" src="/images/traffic-night-shanghai.jpg">
        </div>
        <div class="card-content">
          <p class="card-header">Most to Least Requested Events</p>
        </div>
        <div class="card-action">

          <p class="card-details">
            <ul>
              <%  @user.payloads.events_by_popularity.each do |event| %>
              <li><a href="/sources/<%= @user.identifier %>/events/<%= event.split(":")[0] %>"><%= event.split(":")[0] %></a>:<%=event.split(":")[1]%></li>
              <%  end %>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <p>

      </p>
    </div>
  </div>
</div>
