<h1 id="event_details_header">Got to <%= @id.capitalize %>'s <%= @event %> page!</h1>


<h2>Total Overall Events: <%= @user.payloads.total_events(@event) %><br><br></h2>


<% @user.payloads.hour_edited(@event).each do |k, v| %>
  <%= k %>: <%= v %><br>
<% end %>
