<div class="center"> <h1 id="event_details_header"><%= @id.capitalize %>'s <%= @event %> Page</h1></div>
<div class="divider"></div>
<div class="center"><h2>Total Events: <%= @user.payloads.total_events(@event) %><br><br></h2></div>

<% @count = 0 %>
<table class="highlight card-panel centered responsive-table", id="event-table">
       <thead>
         <tr class="blue-text text-darken-2">
             <th data-field="id">Hour</th>
             <th data-field="name">Amount</th>
             <th data-field="price">Total Count</th>
         </tr>
       </thead>

<% @user.payloads.hour_edited(@event).each do |k, v| %>
       <tbody>
         <tr class="blue-text text-darken-2">
           <td><%= k %></td>
           <td><%= v %></td>
           <td><%= @count += v  %></td>
         </tr>
        <% end %>
       </tbody>
     </table>
