<ul id="dropdown2" class="dropdown-content">
  <% @user.payloads.events_by_popularity.each do |event|  %>
  <li class="divider"></li>
  <li><a href="/sources/<%= @user.identifier %>/<%= event %>"><%= event %></a></li>
  <% end %>
</ul>

<nav>
  <div class="nav-wrapper blue">
    <div>
      <a href="/" class="breadcrumb "><i class="material-icons left">home</i>Traffic Spy</a>
      <a href="/sources/<%= user.identifier %>" class="breadcrumb"><%= @user.identifier %></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/sources/<%= user.identifier %>/events">Event Index</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-button" href="#!" data-activates="dropdown2">Events<i class="material-icons right">view_list</i></a></li>
    </ul>
  </div>
  </div>
</nav>
