<h1 id="url_details_header">Got to <%= @id.capitalize %>'s <%= @local_url %> page!</h1>

<div class= "container">
  <div class="row">
    <div class="col s4">
      <div class="card large" id="longest-response">
        <div class="card-image">
          <img class="activator" src="/images/blue-eye.gif">
        </div>
        <div class="card-content">
          <p class="card-header">Longest Response Time</p>
        </div>
        <div class="card-action">
          <p class="card-details"><%= @user.urls.longest_response_time %></p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card large" id="shortest-response">
        <div class="card-image">
          <img class="activator" src="/images/blue-eye.gif">
        </div>
        <div class="card-content">
          <p class="card-header">Shortest Response Time</p>
        </div>
        <div class="card-action">
          <p class="card-details"><%= @user.urls.shortest_response_time %></p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card large" id="average-response">
        <div class="card-image">
          <img class="activator" src="/images/blue-eye.gif">
        </div>
        <div class="card-content">
          <p class="card-header">Average Response Time</p>
        </div>
        <div class="card-action">
          <p class="card-details"><%= @user.urls.average_response_time %></p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card large" id="verbs">
        <div class="card-image">
          <img class="activator" src="/images/blue-eye.gif">
        </div>
        <div class="card-content">
          <p class="card-header">Verbs Used</p>
        </div>
        <div class="card-action">
          <p class="card-details"><%= @user.urls.verbs_used %></p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card large" id="referrers">
        <div class="card-image">
          <img class="activator" src="/images/blue-eye.gif">
        </div>
        <div class="card-content">
          <p class="card-header">Most Popular Referrers</p>
        </div>
        <div class="card-action">
          <p class="card-details"><%= @user.urls.most_popular_referrers %></p>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card large" id="agents">
        <div class="card-image">
          <img class="activator" src="/images/blue-eye.gif">
        </div>
        <div class="card-content">
          <p class="card-header">Most Popular User Agents</p>
        </div>
        <div class="card-action">
          <p class="card-details"><%= @user.urls.most_popular_user_agents %></p>
        </div>
      </div>
    </div>
  </div>
</div>
